{{define "folder_content_music"}}
<script>document.querySelector("#CategorySelector #Col-music").classList.add("active");</script>

<section id="FolderContent" class="folder_content_music">
    <div style="display: flex; align-items: center; gap: 10px;">
        <a href="../" class="btn navigation-button navigation-back"><span class="icon arrow-up"></span></a>
        <h6 class="mt-1 mb-1">Playlist - {{.CountMusic}} Audio Files</h6>
    </div>

{{ if gt .CountAll 0 }}
    <div id="MusicContainer" class="my-2">
        
        {{ if eq .CountMusic 0 }}
            <div class="empty-folder-placeholder mb-4 border rounded-3 align-items-center justify-content-center p-3 py-6">
                <h4>No music files here.</h4>
            </div>
        {{ else }}
            {{ template "music_player" dict "CountMusic" .CountMusic    "HasCover" .HasCover    "Sticky" "top" }}
            <ul id="MusicPlaylist" class="item-list mx-0 border-1">
                {{ range .DisplayEntries }}
                    {{ if eq .EntryType "music" }}
                        <li>
                            <a class="item-primary item-entry-type-{{ .EntryType }}" 
                                href="{{ .UrlString }}" 
                                data-playing="false"
                                data-error="false"
                                data-skip="false"
                                data-music-name="{{ .FirstName }}" 
                                data-music-url="{{ .UrlString }}"
                            >
                                <span class="item-primary-body">
                                    <span class="name">{{ .Name }}</span>
                                    <button type="button" class="btn btn-small btn-x"></button>
                                    <button type="button" class="btn btn-small btn-more"></button>
                                </span>
                            </a>
                        </li>
                    {{ end }}
                {{ end }}
            </ul>
        {{ end }}
    </div>

    <script>
    {{ includeJS "./templates/folder_content_music.js" }}
    </script>

{{ else }}
    <div class="empty-folder-placeholder my-4 border rounded-3 align-items-center justify-content-center p-3 py-6">
        <h4>The folder is empty.</h4>
    </div>
{{ end }}
</section>


{{ end }}
