.drawer-container {
  .bp6-drawer-header {
    height: 50px; /* aligned with navbar */
  }
}
.drawer-content {
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  overflow: scroll;
} 