{{define "folder_content_image_and_video"}}
<script>document.querySelectorAll("#CategorySelector #Col-image-video").classList.add("active");</script>

<section id="FolderContent" class="folder_content_image_and_video">
    <div>
        <a href="../" class="btn navigation-button navigation-back"><span class="icon arrow-up"></span></a>
    </div>

{{ if gt .CountAll 0 }}
    <script>window.ImageVideoRows = window.ImageVideoRows || [];</script>
    
    <div id="ImageVideoContainer" class="my-2 clusterize-scroll">
        {{ if eq .CountImageVideo 0 }}
            <div class="empty-folder-placeholder mb-4 border rounded-3 align-items-center justify-content-center p-3 py-6">
                <h4>No image or video files here.</h4>
            </div>
        {{ else }}
            <h6 class="mt-4 mb-2">Image & Video ( {{.CountImageVideo}} )</h6>

            <div id="ImageVideoItems" class="clusterize-content">
                <p class="nojs">Please enable JavaScript to enable this view</p>
            </div>

            
            {{ range $index, $value := .DisplayEntries }}
                {{ if eq $value.EntryType "image" }}
                    <script>
                        window.ImageVideoRow = window.ImageVideoRow || [];
                        window.ImageVideoRow.push(`
                            <div class="col"><div class="container"><div class="bg-light">
                                <button type="button" class="btn rounded btn-preview btn-preview-image flex-center {{ if $value.IsCover }}btn-preview-cover{{ end }}"
                                    data-bs-toggle="modal" data-bs-target="#PreviewModal" 
                                    data-bs-url-string="{{$value.UrlString}}"
                                    data-bs-name="{{$value.Name}}"
                                    data-bs-lastName="{{$value.LastName}}"
                                    data-bs-entry-type="image"
                                    data-is-cover="{{$value.IsCover}}"
                                >   
                                    {{ $previewImageUrl := $value.UrlString }}
                                    {{ if $value.HasThumbnail }}{{ $previewImageUrl = $value.HasThumbnail }}{{ end }}
                                    <img data-src="{{$previewImageUrl}}" class="image-preview lazyload"/>
                                </button>
                            </div></div></div>
                        `)
                        if (window.ImageVideoRow.length == 3) {
                            window.ImageVideoRows.push(`<div class="row row-cols-3">${window.ImageVideoRow.join("")}</div>`)
                            window.ImageVideoRow = []
                        }
                    </script>
                {{ else if eq .EntryType "video" }}
                    <script>
                        window.ImageVideoRow = window.ImageVideoRow || [];
                        window.ImageVideoRow.push(`
                            <div class="col"><div class="container"><div class="bg-light">
                                <button type="button" class='btn rounded btn-preview btn-preview-video flex-center'
                                    data-bs-toggle="modal" data-bs-target="#PreviewModal"
                                    data-bs-url-string="{{$value.UrlString}}"
                                    data-bs-name="{{$value.Name}}"
                                    data-bs-lastName="{{$value.LastName}}"
                                    data-bs-entry-type="video"
                                >
                                    <span class="video-preview rounded border-1 flex-center image-preview lazyload pos-absolute-max" data-src="{{ $value.HasThumbnail }}">
                                        <span class="icon video-play"></span>
                                    </span>
                                    <span class="video-preview rounded border-1 flex-center video-preview-placeholder">
                                        <span class="icon video-play"></span>
                                        <span class='firstName text-center text-max-lines-3 {{ if eq $value.FirstName "" -}} hidden {{- end }}'>{{ $value.FirstName }}</span>
                                    </span>
                                </button>
                            </div></div></div>`
                        )
                        if (window.ImageVideoRow.length == 3) {
                            window.ImageVideoRows.push(`<div class="row row-cols-3">${window.ImageVideoRow.join("")}</div>`)
                            window.ImageVideoRow = []
                        }
                    </script>
                {{ end }}

            {{ end }}
            
        {{ end }}
    </div>

    <script>
    window.addEventListener("load", function(event) { 
        if (window.ImageVideoRow && window.ImageVideoRow.length > 0) {
            window.ImageVideoRows.push(`<div class="row row-cols-3">${window.ImageVideoRow.join("")}</div>`)
        }
        // update max-height of ImageVideoContainer
        const imageVideoContainer = document.querySelector("#ImageVideoContainer")
        imageVideoContainer.style.maxHeight = window.innerHeight - imageVideoContainer.offsetTop + "px"
        
        window.clusterize = new Clusterize({
            rows: window.ImageVideoRows,
            scrollId: 'ImageVideoContainer',
            contentId: 'ImageVideoItems',
            callbacks: {
                clusterChanged: () => window.lazyload && window.lazyload(document.querySelectorAll(".lazyload"), {rootMargin: "25%"}),
            }
        })
    })
    </script>

    {{ template "preview_modal" }}

{{ else }}
    <div class="empty-folder-placeholder my-4 border rounded-3 align-items-center justify-content-center p-3 py-6">
        <h4>The folder is empty.</h4>
    </div>
{{ end }}
</section>


{{ end }}