:root {
    --body-max-width: 1200px;
    --top-breadcrumb-max-width: 550px;
    --music-player-max-width: 550px;
    --section-padding-x: 2rem;
    --gray-border-color: #d8d8d8;
    --btn-background-color: white;
    --btn-border-start-color: var(--bs-red);
    --btn-border-end-color: var(--bs-blue);
}

figure {
    margin: 0;
}

.event-body-not-loaded * {
    /* Only allows css transition and animation when page is fully loaded */
    /* There might be some cases that there is a huge amount of files/sub-folders */
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -ms-animation: none !important;
    -o-animation: none !important;
    animation: none !important;
}

section {
    margin: 0 auto;
    padding-left: var(--section-padding-x);
    padding-right: var(--section-padding-x);
    max-width: min(var(--body-max-width), 100vw);
}

.hidden {
    display: none !important;
}

.flexible-space {
    flex: 1 1 auto;
}

.text-max-lines-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    word-break: break-all;
}

.text-max-lines-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    word-break: break-all;
}

.text-max-lines-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    word-break: break-all;
}

.flex-center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.pos-relative {
    position: relative;
}

.pos-absolute-max {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.rounded-0 {
    border-radius: 0 !important;
}

.rounded-1 {
    border-radius: 0.25rem !important;
}

.rounded-2 {
    border-radius: 0.5rem !important;
}

.fade-out {
    opacity: 0;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 999;
}

.sticky-top {
    top: -1px;
    bottom: auto;
}

.sticky-bottom {
    top: auto;
    bottom: -1px;
}

span.lazyload {
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

span.icon {
    width: 20px;
    height: 20px;
    display: inline-block;
}

span.icon::before {
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.icon.home::before {
    background-image: url('/static/icons/house-door.svg?static=1');
}

.icon.image::before {
    background-image: url('/static/icons/file-earmark-image.svg?static=1');
}

.icon.folder::before {
    background-image: url('/static/icons/folder-plus.svg?static=1');
}

.icon.folder-open::before {
    background-image: url('/static/icons/folder.svg?static=1');
}

.icon.video::before {
    background-image: url('/static/icons/file-earmark-play.svg?static=1');
}

.icon.video-play::before {
    background-image: url('/static/icons/play-fill.svg?static=1');
}

.icon.file::before {
    background-image: url('/static/icons/file-earmark.svg?static=1');
}

.icon.default::before {
    background-image: url('/static/icons/file-earmark.svg?static=1');
}

.icon.music::before {
    background-image: url('/static/icons/file-earmark-music.svg?static=1');
}

.icon.music-note::before {
    background-image: url('/static/icons/music-note-beamed.svg?static=1');
}

.icon.arrow-up::before {
    background-image: url('/static/icons/arrow-90deg-up.svg?static=1');
}

.icon.files::before {
    background-image: url('/static/icons/files.svg?static=1');
}

.icon.file-image::before {
    background-image: url('/static/icons/file-image.svg?static=1');
}

.icon.file-play::before {
    background-image: url('/static/icons/file-play.svg?static=1');
}

.icon.file-music::before {
    background-image: url('/static/icons/file-music.svg?static=1');
}

.btn-more::before {
    background-image: url('/static/icons/three-dots-vertical.svg?static=1');
}

.btn-x::before {
    background-image: url('/static/icons/x.svg?static=1');
}

ul.item-list,
ol.item-list {
    width: auto;
    min-width: 10rem;
    padding: 0;
    margin: 0.5rem auto;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    /* border: 1px solid var(--gray-border-color); */
    border-radius: 0.5rem;
}

.item-list li {
    position: relative;
}

.item-list li .item-primary {
    display: flex;
    width: auto;
    border-radius: 0.25rem;
    line-height: 24px;
    padding: 4px;
    margin: 4px 0;
    /* Leave trailing space button */
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    user-select: none;
    flex: 1 1 auto;
    overflow: hidden;
    max-width: 100%;
    flex-wrap: nowrap;
}

.item-list li .item-primary:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.item-list li .item-primary.item-entry-type-folder {
    padding-right: 40px;
}

.item-primary .name {
    display: flex;
    flex: 1 1 auto;
    margin-right: 0.25rem;
    overflow: hidden;
    align-items: center;
    line-height: 30px;
}

.item-primary .meta {
    line-height: 24px;
}

.item-primary .item-content-row {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.item-primary .item-content-col {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.item-primary .item-content-header {
    width: 25px;
    flex: 0 0 auto;
    padding-top: 6px;
}

.item-primary .item-content-header .icon {
    /* to keep vertical middle of 24px while icon is 20px x 20px */
}

.firstName {
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.lastName {}

.lastName::before {
    content: '.';
    display: inline-block;
    margin-right: 1px;
}

.item-entry-type-folder .lastName::before {
    content: '';
}

.checker-background {
    background-image: url('/static/images/checker.svg?static=1');
    background-repeat: repeat;
    background-position: center center;
    background-color: #d3d4d6;
    overflow: hidden;
}

.navigation-back {
    border: 1px solid var(--gray-border-color);
    border-radius: 0.5rem;
    width: 42px;
    height: 40px;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#Footer {
    margin: 1rem 0;
}

#Footer .description {
    margin: 1rem 0;
}


/* For tablet: */

@media only screen and (min-device-width: 481px) and (max-device-width: 600px) {
    #TopBreadcrumb ol li {
        /* Three items per row */
        min-width: max(80px, calc(33.33% - 0.5rem)) !important;
    }
}


/* For mobile phones: */

@media only screen and (max-width: 480px) {
     :root {
        --section-padding-x: 1rem;
        font-size: 14px;
    }
    #CategorySelector li a .name {
        font-size: 0.9rem;
    }
    #ImageVideoContainer .container {
        font-size: 0.8rem;
    }
    #ImageVideoContainer .container .btn .firstName {
        font-size: 0.7rem;
    }
    #VinylRecorderPlayer {
        --scale-percent: 0.25 !important;
    }
}


/* iOS does not allow any modification of control bar */

@supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */
}


/* max-height - the only parameter in this file that needs to be edited.
 * Change it to suit your needs. The rest is recommended to leave as is.
 */

.clusterize-scroll {
    /* max-height: 200px; */
    max-height: 600px;
    overflow: auto;
    overflow-x: hidden;
}


/**
   * Avoid vertical margins for extra tags
   * Necessary for correct calculations when rows have nonzero vertical margins
   */

.clusterize-extra-row {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}


/* By default extra tag .clusterize-keep-parity added to keep parity of rows.
   * Useful when used :nth-child(even/odd)
   */

.clusterize-extra-row.clusterize-keep-parity {
    display: none;
}


/* During initialization clusterize adds tabindex to force the browser to keep focus
   * on the scrolling list, see issue #11
   * Outline removes default browser's borders for focused elements.
   */

.clusterize-content {
    outline: 0;
    counter-reset: clusterize-counter;
}


/* Centering message that appears when no data provided
   */

.clusterize-no-data td {
    text-align: center;
}