#CategorySelector {
    overflow: hidden;
    justify-content: center;
}

#CategorySelector ul {
    max-width: var(--top-breadcrumb-max-width);
    margin: 0 auto;
}

#CategorySelector .row {
    --bs-gutter-x: 0rem;
    /* margin: 0 -30px !important; */
}

#CategorySelector .col {
    --btn-background-color: var(--bs-gray-200);
    --btn-border-width: 0px;
    --btn-border-start-color: var(--btn-background-color);
    --btn-border-end-color: var(--btn-background-color);
    position: relative;
    /* height: 64px; */
    height: 40px;
}

#CategorySelector .col.active {
    --btn-background-color: white;
}

#CategorySelector .col:nth-child(2) {
    margin-left: -35px;
    margin-right: -35px;
}

#CategorySelector .col a {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#CategorySelector .col:nth-child(1) a {
    z-index: 1;
}

#CategorySelector .col:nth-child(2) a {
    z-index: 3;
}

#CategorySelector .col:nth-child(3) a {
    z-index: 2;
}

#CategorySelector .col.active a {
    z-index: 10;
}

#CategorySelector ul li a:hover,
#CategorySelector ul li a:active {
    z-index: 9 !important;
}

#CategorySelector ul li a:hover>.category-btn {
    --btn-background-color: var(--bs-gray-100);
    z-index: 10;
}

#CategorySelector ul li a:active>.category-btn {
    --btn-background-color: var(--bs-gray-100);
}

#CategorySelector ul li a:focus>.category-btn {
    --btn-background-color: white;
}

#CategorySelector .category-btn {
    width: 100%;
    height: 40px;
    padding: var(--btn-border-width);
    background-image: linear-gradient(var(--btn-background-color), var(--btn-background-color)), linear-gradient(30deg, var(--btn-border-start-color), var(--btn-border-end-color));
    background-origin: border-box;
    background-clip: content-box, border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#CategorySelector .col.active .category-btn {
    --time-animation: 600ms;
    /* --btn-border-start-color: var(--bs-red);
    --btn-border-end-color: var(--bs-blue); */
    --btn-border-start-color: var(--gray-border-color);
    --btn-border-end-color: var(--gray-border-color);
    /* shadow-sm */
    /* box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important; */
}

#CategorySelector .col.active .category-btn-all {
    /* --btn-border-start-color: var(--gray-border-color);
    --btn-border-end-color: var(--gray-border-color); */
    /* --btn-border-width: 1px; */
}

#CategorySelector .col.active .category-btn #ImageVideoIcon {
    -webkit-animation: var(--time-animation) pulsate 1 alternate ease-in-out;
    -moz-animation: var(--time-animation) pulsate 1 alternate ease-in-out;
    -ms-animation: var(--time-animation) pulsate 1 alternate ease-in-out;
    -o-animation: var(--time-animation) pulsate 1 alternate ease-in-out;
    animation: var(--time-animation) pulsate 1 alternate ease-in-out;
}

#CategorySelector .col.active .category-btn #MusicIcon {
    -webkit-animation: var(--time-animation) pulsate 1 alternate ease-in-out;
    -moz-animation: var(--time-animation) pulsate 1 alternate ease-in-out;
    -ms-animation: var(--time-animation) pulsate 1 alternate ease-in-out;
    -o-animation: var(--time-animation) pulsate 1 alternate ease-in-out;
    animation: var(--time-animation) pulsate 1 alternate ease-in-out;
}

@keyframes pulsate {
    0% {}
    50% {
        width: 36px;
    }
    100% {}
}

#CategorySelector #AllIcon {
    width: 20px;
    height: 20px;
    padding-top: 1px;
}

#CategorySelector #ImageVideoIcon {
    width: 28px;
    height: 28px;
}

#CategorySelector #ImageVideoIcon .image-icon {
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 2;
    background: linear-gradient(to right, var(--btn-background-color), var(--btn-background-color) 80%, transparent 80%, transparent 100%);
}

#CategorySelector #ImageVideoIcon .video-icon {
    position: absolute;
    top: 2px;
    right: -4px;
    z-index: 1;
}

#CategorySelector #MusicIcon {
    width: 28px;
    height: 28px;
}

#CategorySelector #MusicIcon .file-music-icon {
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 2;
    background: linear-gradient(to right, var(--btn-background-color), var(--btn-background-color) 80%, transparent 80%, transparent 100%);
}

#CategorySelector #MusicIcon .music-note-icon {
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 0px;
}

#CategorySelector li.col .description {
    /* font-size: 0.8rem; */
    display: block;
    line-height: 1.25rem;
    font-size: 0.9rem;
    display: none;
}

#CategorySelector li.col.active .description {
    /* font-size: 0.8rem; */
    /* font-weight: bold; */
}

#CategorySelector li.col a:focus {
    /* outline: 0; */
}