:root{
  --gray-border-color:#d8d8d8;
  --btn-background-color: white;
  --btn-border-start-color: var(--bs-red);
  --btn-border-end-color: var(--bs-blue);
}

.event-body-not-loaded *{
  /* Only allows css transition and animation when page is fully loaded */
  /* There might be some cases that there is a huge amount of files/sub-folders */
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;

  -webkit-animation:none !important;
  -moz-animation:none !important;
  -ms-animation:none !important;
  -o-animation:none !important;
  animation: none !important;
}

section {
  margin: 0 2rem;
  max-width: min(1200px, 100vw);
}
.hidden {
  display: none !important;
}

.text-max-lines-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-max-lines-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2; 
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
.flex-center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}


li .icon {
  width: 20px;
  height: 20px;
  display: inline-block;
}

li span.icon::before{
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.icon.home::before{
  background-image: url('/static/icons/house-door.svg?static=1');
}
.icon.image::before{
  background-image: url('/static/icons/file-earmark-image.svg?static=1');
}
.icon.folder::before{
  background-image: url('/static/icons/folder-plus.svg?static=1');
}
.icon.folder-open::before{
  background-image: url('/static/icons/folder.svg?static=1');
}
.icon.video::before{
  background-image: url('/static/icons/file-earmark-play.svg?static=1');
}
.icon.video-play::before{
  background-image: url('/static/icons/play-btn.svg?static=1');
}

.icon.file::before{
  background-image: url('/static/icons/file-earmark.svg?static=1');
}
.icon.default::before{
  background-image: url('/static/icons/file-earmark.svg?static=1');
}
.icon.music::before{
  background-image: url('/static/icons/file-earmark-music.svg?static=1');
}


ul.item-list, ol.item-list {
  width: auto;
  min-width: 10rem;
  padding: 0;
  margin: 1rem auto;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid var(--gray-border-color);
  border-radius: 0.5rem;
}
.item-list li {

}
.item-list li a.item-icon-name {
  width: auto;
  margin: 0.25rem 0.25rem;
  border-radius: 0.25rem;
  padding: 8px 40px 8px 8px; /* Leave trailing space for three-dot more button */
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  /* border: 0; */
  user-select: none;
}
.item-list li a.item-icon-name:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.firstName {
  overflow-x: hidden;
  text-overflow: ellipsis;
  /* padding-left: 5px; */
}
.lastName {
  margin-left: 1px;
}
.lastName::before{
  content: '.';
  display: inline-block;
  margin-right: 1px;
}
.item-entry-type-folder .lastName::before{
  content: '';
}

.image-grid-transparent-bg{
  background-image: url('/static/images/grid-transparent-bg.jpg?static=1');
  background-repeat: repeat;
  background-position: center center;
  background-color: gray;
  overflow: hidden;
}

#TopBreadcrumb ol{
  display: flex;
  gap: 0.25rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  justify-content: flex-start;
  /* align-items: stretch; */
}

#TopBreadcrumb ol li {
  /* flex-grow: 1;
  flex-shrink: 1; */
  border-radius: 0.5rem;
  /* border-radius: 0; */
  background-color: var(--bs-gray-200);
  min-width: 100px;
  max-width: min(300px, calc(50vw - 1.75rem));
  height: 32px;
  --btn-background-color: var(--bs-gray-200);
  user-select: none;
}

#TopBreadcrumb .btn-container{
  /* height: 32px; */
  overflow-y: hidden;
  overflow-x: hidden;
  text-overflow: ellipsis;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start; 
  align-items: center;
}

#TopBreadcrumb .btn-container .icon{
  margin-right: 3px;
}

#TopBreadcrumb ol li.row-trailing-item{
  /* Let the trailing item to fulfill all the space until the row end */
  flex-grow: 1;
  max-width: 75vw;
}

#TopBreadcrumb ol li a{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.5rem;

}

#TopBreadcrumb ol li a:active{
  color: black;
}


#TopBreadcrumb li span.name {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

#TopBreadcrumb ol li:first-child {
}

#TopBreadcrumb ol li:first-child a{
  /* padding-left: 1rem; */
}


#TopBreadcrumb ol li:last-child{
  /* padding-left: 1rem;
  padding-right: 1rem; */
  /* background-color: transparent; */

  /* The current folder can take up a separate new row */
  max-width: calc(100vw - 3rem);
}
#TopBreadcrumb ol li:last-child a{
  --btn-background-color: white;
  padding: 2px;
  /* border-bottom: 2px solid var(--bs-primary); */
  /* border inside edge hack for 'border: 2px solid var(--bs-primary);' */
  /* box-shadow:inset 0px 0px 0px 2px var(--bs-primary);  */
  background-image: linear-gradient(var(--btn-background-color), var(--btn-background-color)), 
                    linear-gradient(30deg, var(--bs-red), var(--bs-blue));
  background-origin: border-box;
  background-clip: content-box, border-box;

  /* background-color: var(--btn-background-color); */
 }

 #TopBreadcrumb ol li:last-child a>span{
   margin: 2px calc(0.5rem - 2px) ;
 }

#CategorySelector {
  
}

#CategorySelector ul{
  justify-content: center;
}

#CategorySelector .row{
  --bs-gutter-x: 0;
}

#CategorySelector .col{
  --btn-background-color: var(--bs-gray-200);
  --btn-border-width: 2px;
  --btn-border-start-color: var(--btn-background-color);
  --btn-border-end-color: var(--btn-background-color);
  position: relative;
  overflow: hidden;
}

#CategorySelector .col::before{
  content: "";
  background: var(--bs-gray-200);
  display:inline-block;
  width: 50%;
  height: 45px;
  z-index: -999;
  position: absolute;
}

#CategorySelector .col:nth-child(1)::before{
  top: 0;
  right: 0;
}
#CategorySelector .col:nth-child(2)::before{
  top: 0;
  left: 0;
  width: 100%;
}
#CategorySelector .col:nth-child(3)::before{
  top: 0;
  left: 0;
}

#CategorySelector .col.active {
  --btn-background-color: white;
}
#CategorySelector ul li a:hover>.category-btn{
  --btn-background-color: white;
}
#CategorySelector ul li a:active>.category-btn{
  --btn-background-color: white;
}
#CategorySelector ul li a:focus>.category-btn{
  --btn-background-color: var(--bs-gray-100);
}

#CategorySelector .category-btn {
  height: 45px;
  padding: var(--btn-border-width);
  background-image: linear-gradient(var(--btn-background-color), var(--btn-background-color)), 
                    linear-gradient(30deg, var(--btn-border-start-color), var(--btn-border-end-color));
  background-origin: border-box;
  background-clip: content-box, border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
#CategorySelector .category-btn span{
  display: inline-block;
  position: relative;
}
#CategorySelector .category-btn span img{
  width: 24px;
  height: 24px;
  background-color: var(--btn-background-color);
}


#CategorySelector .col.active .category-btn {
  --time-animation: 1000ms;
  --btn-border-start-color: var(--bs-red);
  --btn-border-end-color: var(--bs-blue);
}


#CategorySelector .col.active .category-btn-all {
  --btn-border-start-color: var(--gray-border-color);
  --btn-border-end-color: var(--gray-border-color);
}

#CategorySelector .col.active .category-btn #ImageVideoIcon {
  -webkit-animation:var(--time-animation) pulsate 1 alternate ease-in-out;
  -moz-animation:var(--time-animation) pulsate 1 alternate ease-in-out;
  -ms-animation:var(--time-animation) pulsate 1 alternate ease-in-out;
  -o-animation:var(--time-animation) pulsate 1 alternate ease-in-out;
  animation: var(--time-animation) pulsate 1 alternate ease-in-out;
}
#CategorySelector .col.active .category-btn #MusicIcon {
  -webkit-animation:var(--time-animation) pulsate 1 alternate ease-in-out;
  -moz-animation:var(--time-animation) pulsate 1 alternate ease-in-out;
  -ms-animation:var(--time-animation) pulsate 1 alternate ease-in-out;
  -o-animation:var(--time-animation) pulsate 1 alternate ease-in-out;
  animation: var(--time-animation) pulsate 1 alternate ease-in-out;
}
@keyframes pulsate {
  /* 0% { transform: scale(1); }
  50% { transform: scale(1.2); width: 30px; height: 30px;}
  100% { transform: scale(1); } */
  0% { }
  50% { width: 45px; }
  100% { }
}

#CategorySelector #ImageVideoIcon {
  width: 36px;
  height: 32px;
}
#CategorySelector #ImageVideoIcon img.image-icon{
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 2;
  
}
#CategorySelector #ImageVideoIcon img.video-icon{
  position: absolute;
  top: 0;
  right: 0px;
  width: 20px;
  /* height: 20px; */
  /* padding-bottom: 2px; */
  z-index: 1;
}

#CategorySelector #MusicIcon {
  width: 36px;
  height: 32px;
}
#CategorySelector #MusicIcon img.file-music-icon{
  position: absolute;
  z-index: 2;
  bottom: 0px;
  left: 0;
}
#CategorySelector #MusicIcon img.music-note-icon{
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0px;
  width: 20px;
  /* height: 20px; */
  /* padding-bottom: 2px; */
}

#CategorySelector li.col .name {
  /* font-size: 0.8rem; */
}
#CategorySelector li.col.active .name {
  /* font-size: 0.8rem; */
  font-weight: bold;
}

#CategorySelector li.col a:focus{
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

#FolderContent ul {}

#FolderContent ul li {
  position: relative;
}

#FolderContent ul li a:active{
  color: black;
}

#FolderContent ul li a.item-icon-name { 
}

#FolderContent ul li span.icon{
  margin-right: 5px;
}

#FolderContent ul li a.item-entry-type-folder::after {
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url('/static/icons/chevron-right.svg?static=1');
  position: absolute;
  top: 10px;
  right: 10px;
}

#FolderContent ul li .btn-more {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 40px;
  width: 40px;
  display: none; /* TODO: Add a dropmenu such as Download File / Preview */
}
#FolderContent ul li .btn-more::before{
  content: '';
  width: 20px;
  height: 20px;
  margin-top: 3px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url('/static/icons/three-dots-vertical.svg?static=1');
}

#FolderContent ul li hr{
  margin: 0;
}
#FolderContent ul li:last-child hr{
  display: none;
}



#FolderContent #FolderEmptyPlaceholder {
  display: block;
  /* max-height: 80vw; */
  height: 300px;
  min-width: 300px;
  max-width: 100%;
  background-color: #fdfdfd;
  background-image: radial-gradient(circle, #ddd 1px, rgba(0,0,0,0) 1px);
  background-size: 1rem 1rem;
}

#FolderContent .btn {
  /* padding: 0.25rem; */
}

#FolderContent .btn-preview {
  cursor: zoom-in;
}

#FolderContent.folder_content_default .btn-preview {
  margin-left: 2.5rem;
  margin-bottom: 0.75rem;
}

#FolderContent .btn-preview-video{ 
  flex-direction: column;
  cursor: pointer;
}
#FolderContent .video-preview {
  width: 200px;
  height: 100px;
  background-color: var(--bs-gray-200);
}
#FolderContent .video-preview .icon {
  width: 30px;
  height: 30px;
}
#FolderContent .video-preview .video-play::before{
  width: 30px;
  height: 30px;
}
#FolderContent .btn-preview-video .firstName{
  max-width: 100%;
}

/* for default list */
#FolderContent .btn-preview img.image-preview{
  max-width: 50vw;
  max-height: 80px;
  min-height: 60px;
}

#ImageVideoContainer span.icon{
  display: inline-flex;
}

#ImageVideoContainer span.icon::before{
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Aspect Ratio https://www.w3schools.com/howto/howto_css_aspect_ratio.asp */
#ImageVideoContainer .col .container{
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */
}
#ImageVideoContainer .col .container .btn{
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}
#ImageVideoContainer .col .container .btn .video-preview {
  /* flex-direction: column; */
  height: auto;
  width: auto;
  background-color: transparent;
}
#ImageVideoContainer .col .container .btn .firstName {
  /* padding: 0; */
  /* text-align: center; */
  /* font-size: 0.8rem; */
}
/* #ImageVideoContainer .col .container .btn .lastName {
  padding: 0;
  text-align: right;
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  bottom: 0;
}
#ImageVideoContainer .col .container .btn .lastName::before{
  display: none;
} */

#ImageVideoContainer .col .border{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

#FolderContent #ImageVideoContainer .btn-preview img.image-preview{
  max-width: 100%;
  max-height: 50vh;
}

#PreviewModal {
  --preview-model-bg-color: black;
  --preview-model-text-color: var(--bs-gray-400);
}

#PreviewModal .modal-header {
  background-color: var(--preview-model-bg-color);
  color: var(--preview-model-text-color);
  border-bottom: none;
}
#PreviewModal .modal-header .btn-close{
  background-color: var(--preview-model-text-color);
}
#PreviewModal .modal-header #PreviewModalLabel{
  max-width: calc(100vw - 4rem);
  font-size: 1rem;
}

#PreviewModal .modal-body{
  /* padding: 1rem 0; */
  padding: 0;
  background-color: var(--preview-model-bg-color);
  flex-direction: column;
}
#PreviewModal .modal-footer{
  background-color: var(--preview-model-bg-color);
  border-top-color: var(--preview-model-bg-color);
}
#PreviewModal .modal-footer .btn{
  flex: 1 1 auto;
}

#PreviewModal .modal-body .preview-content-container.image-container{
  overflow: hidden;
}
#PreviewModal .modal-body .preview-content-container.video-container{
  width: 100%;
  height: 100%;
  display: relative;
}

#ModalPreviewImage {
  max-width: 100%;
  min-width: 25%;
  max-height: 100%;
}

#ModalPreviewVideo {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  z-index: 999; /* To be on top of prev/next buttons */
}
/* 
#ModalButtonOpenFile{
  padding-left: 2rem;
  padding-right: 2rem;
  flex-grow: 1;
} */
#ModalButtonClosePreview {
  /* flex-grow: 1; */
  line-height: 18px;
}
#ModalButtonPrev{
  opacity: 0.8;
}
#ModalButtonNext{
  opacity: 0.8;
}

#MusicPlayer{
  justify-content: center;
}
#MusicPlayerAudio{
  width: 100%;
  border: 2px solid white;
}

#MusicPlayer li div.rounded-pill{
  /* border: 2px solid var(--bs-gray-600); */

  padding: 2px;
  overflow: hidden;
  background-image: linear-gradient(var(--btn-background-color), var(--btn-background-color)), 
                    linear-gradient(30deg, var(--btn-border-start-color), var(--btn-border-end-color));
  background-origin: border-box;
  background-clip: content-box, border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}


#Footer{
  margin-bottom: 10rem;
}

/* For mobile phones: */
@media only screen and (max-width: 480px) {
  section {
    margin: 0 1rem;
  }
  #TopBreadcrumb ol li {
    min-width: max(100px, calc(25vw - 1rem));
    max-width: calc(50vw - 3rem);
  }
  #CategorySelector li a .name {
    font-size: 0.9rem;
  }
  #ImageVideoContainer .container{
    font-size: 0.8rem;
  }
  #ImageVideoContainer .container .btn .firstName{
    font-size: 0.8rem;
  }
  #FolderContent.folder_content_default .video-preview {
    width: 120px;
    height: 60px;
  }
}
