#TopBreadcrumb ol {
    --breadcrumb-gap: 0.25rem;
    display: flex;
    gap: var(--breadcrumb-gap);
    /* padding: 0.5rem; */
    border-radius: 0.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: flex-start;
    /* align-items: stretch; */
}

#TopBreadcrumb ol li {
    /* flex-grow: 1;
  flex-shrink: 1; */
    --btn-background-color: var(--bs-gray-200);
    border-radius: 0.25rem;
    /* border-radius: 0; */
    background-color: var( --btn-background-color);
    min-width: 60px;
    /* At max width 2 pills are displayed in one row */
    max-width: min(300px, calc(50% - var(--breadcrumb-gap) / 2));
    /* height: 32px; */
    user-select: none;
}

#TopBreadcrumb .btn-container {
    height: 32px;
    overflow-y: hidden;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

#TopBreadcrumb .btn-container .icon {}

#TopBreadcrumb .btn-container .name {
    overflow-x: hidden;
    text-overflow: ellipsis;
    line-height: 24px;
    margin-left: 5px;
}

#TopBreadcrumb ol li.row-trailing-item {
    /* Let the trailing item to fulfill all the space until the row end */
    flex: 1 1 auto;
    /* max-width: 100%; */
    /* max-width: 75vw; */
}

#TopBreadcrumb ol li a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#TopBreadcrumb ol li a:active {
    color: black;
    background: var(--bs-light);
}

#TopBreadcrumb ol li:first-child .btn-container {
    justify-content: center;
}

#TopBreadcrumb ol li:first-child .btn-container .name {
    display: none;
}

#TopBreadcrumb ol li:last-child.row-trailing-item {
    /* max-width: calc(70vw - 3rem); */
    flex: none;
}

#TopBreadcrumb ol li:last-child a {
    --btn-background-color: white;
    padding: 1px;
    background-image: linear-gradient(var(--btn-background-color), var(--btn-background-color)), linear-gradient(30deg, var(--bs-red), var(--bs-blue));
    background-origin: border-box;
    background-clip: content-box, border-box;
    /* font-weight: bold; */
}

#TopBreadcrumb ol li:last-child a>span {
    margin: 3px calc(0.5rem - 2px);
}

#TopBreadcrumb ol li:first-child.row-trailing-item a {
    background-color: white;
}