{{ define "category_selector"}}
<section id="CategorySelector" class="my-3">
    {{ with .Categories }}      
        <ul class="row list-unstyled list my-1 px-1">
            {{ range . }}
                <li class="col" >
                    <a class="d-block text-dark text-decoration-none text-center" href="?category={{- .Value -}}">
                        <button class="btn rounded-pill rounded category-btn category-btn-{{- .Value}}">
                            {{ if eq .Value "all"}}
                                <span id="AllIcon" class="pos-relative">
                                    <span class="icon files"></span>
                                </span>
                            {{ else if eq .Value "image-video" }}
                                <span id="ImageVideoIcon" class="pos-relative">
                                    <span class="icon file-image image-icon"></span>
                                    <span class="icon file-play video-icon"></span>
                                </span>
                            {{ else if eq .Value "music" }}
                                <span id="MusicIcon" class="pos-relative">
                                    <span class="icon file-music file-music-icon"></span>
                                    <span class="icon music-note music-note-icon"></span>
                                </span>
                            {{ end }}
                        </button>
                        {{/* <span class="description pt-0 text-max-lines-1 my-1">
                            {{- .DisplayText -}}
                        </span> */}}
                    </a>
                </li>
            {{ end }}
        </ul>
    {{ end }}
</section>
{{ end }}