{{define "folder_content_default"}}
<script>document.querySelectorAll("#CategorySelector .col")[0].classList.add("active");</script>

<section id="FolderContent" class="folder_content_default">
    <div>
        <a href="../" class="btn navigation-button navigation-back"><span class="icon arrow-up"></span></a>
    </div>

    {{ with .DisplayEntries }}
    <ul class="item-list mx-0 border-1 my-2">
        {{ range . }}
        <li>
            {{ if eq .EntryType "folder" }}
                <a class="item-primary dropdown-item item-entry-type-{{- .EntryType }}" href="{{ .UrlString }}">
                    {{ template "item_primary_content" dict "EntryType" .EntryType "FirstName" .FirstName "LastName" .LastName "ModTimeString" .ModTimeString "SizeString" .SizeString }}
                </a>
            {{ else }}
                <a class="item-primary dropdown-item item-entry-type-{{- .EntryType }}" href="{{ .UrlString }}"
                    data-bs-toggle="modal" data-bs-target="#PreviewModal" 
                    data-bs-url-string="{{.UrlString}}"
                    data-bs-name="{{.Name}}"
                    data-bs-firstName="{{.FirstName}}"
                    data-bs-lastName="{{.LastName}}"
                    data-bs-entry-type="{{.EntryType}}"
                >
                    {{ template "item_primary_content" dict "EntryType" .EntryType "FirstName" .FirstName "LastName" .LastName "ModTimeString" .ModTimeString "SizeString" .SizeString}}
                </a>
                <!-- Preview Button starts -->
                {{ if eq .EntryType "image" }}
                    <button type="button" class="btn border rounded btn-preview btn-preview-{{- .EntryType }}"
                        data-bs-toggle="modal" data-bs-target="#PreviewModal" 
                        data-bs-url-string="{{.UrlString}}"
                        data-bs-name="{{.Name}}"
                        data-bs-firstName="{{.FirstName}}"
                        data-bs-lastName="{{.LastName}}"
                        data-bs-entry-type="{{.EntryType}}"
                    >   
                        {{ $previewImageUrl := .UrlString }}
                        {{ if .HasThumbnail }}{{ $previewImageUrl = .HasThumbnail }}{{ end }}
                        <img data-src="{{$previewImageUrl}}" class="image-preview lazyload" />
                    </button>
                {{ else if eq .EntryType "music" }}
                    <button type="button" class="btn border rounded btn-preview btn-preview-{{- .EntryType }}"
                        data-bs-toggle="modal" data-bs-target="#PreviewModal" 
                        data-bs-url-string="{{.UrlString}}"
                        data-bs-name="{{.Name}}"
                        data-bs-firstName="{{.FirstName}}"
                        data-bs-lastName="{{.LastName}}"
                        data-bs-entry-type="{{.EntryType}}"
                    >   
                        <span class="pos-relative music-preview rounded border-1 flex-center">
                            {{ if .HasThumbnail }}
                            <img data-src="{{.HasThumbnail}}" class="image-preview lazyload" />
                            {{ end }}
                            <span class="pos-absolute-max flex-center">
                                <span class="icon music-note"></span>
                            </span>
                        </span>
                    </button>
                {{ else if eq .EntryType "video" }}
                    <button type="button" class="btn border rounded btn-preview btn-preview-{{- .EntryType }}"
                        data-bs-toggle="modal" data-bs-target="#PreviewModal" 
                        data-bs-url-string="{{.UrlString}}"
                        data-bs-name="{{.Name}}"
                        data-bs-firstName="{{.FirstName}}"
                        data-bs-lastName="{{.LastName}}"
                        data-bs-entry-type="{{.EntryType}}"
                    >   
                        <span class="pos-relative video-preview rounded border-1 flex-center">
                            {{ if .HasThumbnail }}
                            <img data-src="{{.HasThumbnail}}" class="video-preview lazyload" />
                            {{ end }}
                            <span class="pos-absolute-max flex-center">
                                <span class="icon video-play"></span>
                            </span>
                        </span>
                    </button>
                {{ end }}
                <!-- Preview Button ends -->
            {{ end }}
        </li>
        {{ else }}
        <li> Ops! Nothing here. </li>
        {{ end }}
    </ul>
    
    {{ template "preview_modal" }}

    {{ else }}
    <div class="empty-folder-placeholder my-4 border rounded-3 align-items-center justify-content-center p-3 py-6">
        <h4>The folder is empty.</h4>
    </div>
    {{ end }}
</section>
{{ end }}
