{{ define "music_player"}}

<div id="MusicPlayerBar" data-sticky="{{.Sticky}}" class='
    {{- if eq .Sticky "top" -}} sticky sticky-top 
    {{- else if eq .Sticky "bottom" -}} sticky sticky-bottom
    {{- end -}}
'>
    <ul class="row row-cols-1 row-cols-s-1 row-cols-m-2 row-cols-lg-2 list-unstyled list mx-0 my-0">
        <li class="col py-2 rounded-2 shadow">
            <div id="MusicPlayerContainer" class="my-2">
                <!-- Record Player starts -->
                <div id="VinylRecorderPlayer">
                    <div class="board" data-paused>
                        <div class="wrapper">
                            <div class="vinyl">
                                {{ includeHTML "./static/images/vinyl.svg" }}
                                {{ if ne .HasCover ""}}
                                    <div class="vinyl-inner"><img src="{{.HasCover}}" width=120 height=120 /></div>
                                {{ end }}
                            </div>
                            <div class="speaker-left"></div>
                            <div class="speaker-right"></div>
                            <div class="tonearm">
                                {{ includeHTML "./static/images/tonearm.svg" }}
                            </div>
                            <div class="adjuster"></div>
                            <div class="tonearmrest"></div>
                        </div>
                    </div>
                </div>
                <!-- Record Player ends -->
                <div id="PlayerInfo" class="d-flex ps-2 pe-0 py-0">
                    <span id="PlayerStatus" class="text-secondary">Ready</span>
                    <span id="PlayerCurrentTrack" class="text-dark text-max-lines-2">
                        {{ .CountMusic }} music in the playlist
                    </span>

                    <div id="MusicPlayerController" class="">
                        <div id="MusicPlayerControllerStartAlbum" class="btn text-dark">
                            <span class="icon video-play"></span>
                            <span class="text-max-lines-1">Start Playing</span>
                        </div>
                        <audio id="MusicPlayerAudio" class="rounded-3 flex-center" preload="auto" tabindex="0" controls="" type="audio/mpeg">
                            <source type="audio/mp3" src="">
                            <p>Sorry, your browser does not support HTML5 audio.</p>
                        </audio>
                    </div>
                </div>    
            </div>
            
        </li>
    </ul>
</div>

{{ end }}