#root {
  margin: 0 auto;
}

.card {
  padding: 2em;
}

.app-container {
  width: 100vw;
  height: 100vh;
  /* fallback for old browsers */
  width: 100dvw;
  height: 100dvh;
  /* preferred for modern browsers, usually 100vh is too large for mobile browsers */
  overflow: hidden;
}

.list-page {
  flex: 1 1 auto;
  width: 100%;
  height: calc(100dvh - 50px);
  /* 50px for header */
  overflow: hidden;
}

.bp6-non-ideal-state-visual {
  /* Fix the path inside svg gets cut off */
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    overflow: visible;
  }
}
