/* .grid-item-card {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  && {
    padding: 0;
  }
} */

/* Use blueprint table styles plus our custom single-pixel divider rules */
.grid-container {
  width: 100%;
  table-layout: fixed; /* keeps columns equal if you want */
}

/* make every cell have a 1px border; border-collapse: collapse ensures only one shared line */
.grid-container .cell-container {
  border-right: 1px solid var(--bp3-border-color, #d8dde6);
  border-bottom: 1px solid var(--bp3-border-color, #d8dde6);

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  .cover-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    justify-content: space-around;
  }

  .grid-item-title {
    padding: 5px;

    /* disable the icon in the NonIdealState */
    pointer-events: none;

    .bp6-non-ideal-state-text {
      max-width: 100%;
    }
    .grid-item-entity-title {
      font-size: 14px;
      font-weight: normal;
    }
    .grid-item-link {
      pointer-events: auto;

      .bp6-entity-title-title-and-tags {
        justify-content: center;
      }
    }
  }

  .grid-cover-media-container {
    align-items: center;
    img,
    video {
      border-radius: 4px;
      overflow: hidden;
    }
  }

  .grid-cover-title-container {
    padding-inline: 5px;
    .grid-cover-title {
      justify-content: center;
    }
  }

  .grid-cover-video-link {
    display: flex;
  }

  .grid-cover-image-link {
    display: flex;
  }
}
